flask==3.1.0
flask-sqlalchemy==3.1.1
flask-migrate==4.1.0
flask-jwt-extended==4.7.1
itsdangerous==2.2.0
marshmallow==3.26.1
flask-marshmallow==1.2.1
marshmallow-sqlalchemy==1.4.2
psycopg2-binary==2.9.10
python-dotenv==1.1.0
cryptography==44.0.2
requests==2.32.3
Pillow==11.2.1
werkzeug==3.1.3
gunicorn==23.0.0
flask-limiter==3.12
pyotp==2.9.0
qrcode[pil]==8.1
APScheduler>=3.6,<4
